
<div class="flex flex-col gap-4 items-center " >
    <div class="flex gap-1">
        <div class="h-[2em] cursor-pointer w-[2em] flex border-2 justify-center items-center" (click)="decreasePage.emit(1)">
            <svg class=" h-8 w-8 text-[#438BCB]"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="11 7 6 12 11 17" />  <polyline points="17 7 12 12 17 17" /></svg>
    
        </div>
        <div class="text-[#438BCB] w-[2em] cursor-pointer border-2 h-[2em] flex justify-center items-center" *ngFor = "let page of pages" [ngClass]="{'page-item': true,active:currentPage===page  }" (click)="changePage.emit(page)">
            {{page}}
        </div>
        <div class="h-[2em] cursor-pointer w-[2em] flex border-2 justify-center items-center" (click)="increasePage.emit(1)">
            <svg class="h-8 w-8 text-[#438BCB]"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <polyline points="7 7 12 12 7 17" />  <polyline points="13 7 18 12 13 17" /></svg>
    
        </div>
    </div>
    <div class="flex justify-between gap-4 w-full ">
        <div class="p-1 px-4 cursor-pointer rounded-full  flex border-2 justify-center gap-2 items-center" (click)="decreasePage.emit(1)">
            <svg class="h-8 w-8 text-[#438BCB]"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
              </svg>
              
            <p class="text-[#438BCB]">Older</p>
        
        </div>
        
        <div class="p-1 px-4 cursor-pointer rounded-full flex border-2 justify-center gap-2 items-center" (click)="increasePage.emit(1)">
            <p class="text-[#438BCB]">Newer</p>
            <svg class="h-8 w-8 text-[#438BCB]"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
              </svg>
              
        </div>
    </div>
</div>
